{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="stylesheet" href="../../static/plantillacalendar.css">
    <script src="{% static 'javascript/script2.js' %}" defer></script>
</head>
<body>
  <div class="botoncito">
    <a href="{% url 'dashboard' %}" class = "atras">
      <button class="button-56" role="button">Atrás</button>
    </a> 
  </div>
  <div class="contianer">
    <div class="calendar">
      <div class="calendar-header">
        <span class="month-picker" id="month-picker"> May </span>
        <div class="year-picker" id="year-picker">
          <span class="year-change" id="pre-year">
            <pre><</pre>
          </span>
          <span id="year">2020 </span>
          <span class="year-change" id="next-year">
            <pre>></pre>
          </span>
        </div>
      </div>

      <div class="calendar-body">
        <div class="calendar-week-days">
          <div>Dom</div>
          <div>Lun</div>
          <div>Mar</div>
          <div>Mie</div>
          <div>Jue</div>
          <div>Vie</div>
          <div>Sab</div>
        </div>
        <div class="calendar-days">
        </div>
      </div>
      <div class="calendar-footer">
      </div>
      <div class="date-time-formate">
        <div class="day-text-formate">HOY</div>
        <div class="date-time-value">
          <div>
            <script>
              var hoy= new Date()
              var hora = ('0' + hoy.getHours()).slice(-2) + ':' + ('0' + hoy.getMinutes()).slice(-2) + ':' + ('0' + hoy.getSeconds()).slice(-2);
              document.write(hora)
            </script>
          </div>
          <div>
            <script>
              date = new Date().toLocaleDateString();
              document.write(date);
              </script>
          </div>
        </div>
      </div>
      <div class="month-list"></div>
    </div>
  </div>
</body>
</html>