{% load static %}

{% block content %}

<h1>Qalendiary</h1>
<h2>Hola, {{user.username}}.</h2>
<a href="{% url 'calendario' %}">Ver calendario</a>
<a href="{% url 'verobjetivo' %}" class = "btn btn-primary">Ver objetivo</a>
<a href="{% url 'logout' %}">Cerrar sesión</a>
<img src="{% static 'relojito.jpg' %}">

<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../static/popup.css">
<script src="{% static 'javascript/scriptmodal.js' %}" defer></script>
</head>

<body>
<button id="myBtn">¿Sabías qué...?</button>
<div id="myModal" class="modal">

  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>La gestión de tiempo.</h2>
    </div>
    <div class="modal-body">
      <p>Esta puede aumentar la productividad, pero la mayor ventaja de la gestión eficaz del tiempo es la capacidad de establecer correctamente las prioridades en tu día para hacer espacio para el descanso y el cuidado personal.</p>
      <h5><img class='relojito' src="{% static 'relojito.jpg' %}"></h5>
    </div>
    <div class="modal-footer">
        <h2></h2>
    </div>
  </div>

</div>

</body>

</html>
{% endblock %}

