{% block content %}
    {% block content1 %}
        <h2>Qalendiary</h2>
        <p>
            {% if Hola == "sinfecha" %}
            <a href="{% url 'subirobjetivo' %}" class = "btn btn-primary">Subir objetivo</a>
            {% else %}
            <a href="../subirobjetivo?d={{dia}}&m={{mes}}&y={{anio}}" class = "btn btn-primary">Subir objetivo</a>
            {% endif %}
            <a href="{% url 'calendario' %}" class = "btn btn-primary">Ver calendario</a>
        </p>
    {% endblock %}
        <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="10" aria-describedby="mydesc">
        <thead>
            <tr>
                <th id="modelo">Objetivos</th>
            </tr>
        </thead>
        <tbody>
            {% for Objetivo in lista_objetivo %}
            <tr>
                <td><a href = "{% url 'revisarobjetivo' Objetivo.pk %}">{{ Objetivo.objetivo }}</a></td>
                <td>
                    <form method="POST" action="{% url 'borrarobjetivo' Objetivo.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                    <form method="POST" action="{% url 'temporizador' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Temporizador</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}