{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'plantilla1.css' %}">
</head>

<div class="sidenav">
    <div class="login-main-text">
      <h2 id="titulo">Qalendiary</h2><br> 
      <h2 id="slogan">Página de registro,<br> ¡crea tu cuenta!</h2>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
        <form class="form-content" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
             <div class="form-group">
                {{ form.username|as_crispy_field }}
                <p>*Obligatorio. 150 caracteres permitidos o menos. Letras, digitos y @/./+/-/_ solamente.</p>
             </div>
             <div class="form-group">
                {{ form.password1|as_crispy_field }}
                <p>*Tu contraseña no debe ser similar a ninguna otra información personal.</p>
                <p>*Tu contraseña debe contener almenos 8 caracteres.</p>
                <p>*Tu contraseña no puede ser comunmente usada.</p>
                <p>*Tu contraseña no pueden ser sólo números.</p>
             </div>
             <div class="form-group">
                {{ form.password2|as_crispy_field }}
                <p>*Ingrese la misma contraseña anterior, para verificación.</p>
             </div>
             <button type="submit" class="btn btn-black">Regístrate</button>
          </form>
       </div>
    </div>
 </div>

{% endblock %}