h2#tiempoRestante{
	font-size: 2rem;
}

.relojito-normal {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: translateX(100px);
}

img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	 transform: translateX(100px);
}