h2#tiempoRestante{
	font-size: 2rem;
}

.relojito-normal {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: translateX(100px);
}

img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	transform: translateX(100px);
}

body{
    background:linear-gradient(to right, #57567c, #9e6c78);
    background-size: 100vw 100vh;
	height: 100vh;
}

.label {
	color:aliceblue;
}

#tiempoRestante {
	color:aliceblue;
}

#contenedorInputs {
	width: 50%;
	left: 50%;
	transform: translate(50%,0);
}

a {
	color: aliceblue;
}

.button-56 {
	align-items: center;
	background-color: #fee6e3;
	border: 2px solid #111;
	border-radius: 8px;
	box-sizing: border-box;
	color: #111;
	cursor: pointer;
	display: flex;
	font-family: Inter,sans-serif;
	font-size: 16px;
	height: 48px;
	justify-content: center;
	line-height: 24px;
	max-width: 100%;
	padding: 0 25px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  }
  
  .button-56:after {
	background-color: #e4cce8;
	border-radius: 8px;
	content: "";
	display: block;
	height: 48px;
	left: 0;
	width: 100%;
	position: absolute;
	top: -2px;
	transform: translate(8px, 8px);
	transition: transform .2s ease-out;
	z-index: -1;
  }
  
  .button-56:hover:after {
	transform: translate(0, 0);
  }
  
  .button-56:active {
	background-color: #ffdeda;
	outline: 0;
  }
  
  .button-56:hover {
	outline: 0;
  }
  
  @media (min-width: 768px) {
	.button-56 {
	  padding: 0 40px;
	}
  }

  .botoncito {
	transform: translate(10px,10px);
  }