h2#tiempoRestante{
	font-size: 2rem;
}

.relojito-normal {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: translateX(100px);
}

img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	transform: translateX(100px);
}

body{
    background:linear-gradient(to right, #57567c, #9e6c78);
    background-size: 100vw 100vh;
	height: 100vh;
}

.label {
	color:aliceblue;
}

#tiempoRestante {
	color:aliceblue;
}

#contenedorInputs {
	width: 50%;
	left: 50%;
	transform: translate(50%,0);
}

a {
	color: aliceblue;
}