body{
    background: linear-gradient(to right, #9998c5, #b18e96);
    background-size: 100vw 100vh;
    
}

h2{
    text-align: center;
    font-family: letra-index;
    font-size: 5vh;
}
h3{
    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
h3 a {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#frase {
  height: 150px;
  border: 1px solid black;
}

th {
    font-size: 3vh;

}

table {
    width: 250px;
    height: 75%;
}

tbody {
    background-color:#ffdeda;
}

#objetivos {
    margin: 0;
    padding: 0;
    font-size: 2vh;
}



.atras {
    font-size: 3vh;
    font-family: Dubai Light, Century Gothic;
    
  }

  .button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #e4cce8;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.botoncito {
  margin: 20px;
  top: 0;
  left: 0;
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-btn-primary{
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.btn-btn-primary span{
  position: relative;
  z-index: 2;
}

.btn-btn-primary:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #6848a5;
  transition: all .35s;
}

.btn-btn-primary:hover{
  color: #fff;
}

.btn-btn-primary:hover:after{
  width: 100%;
}